
body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
}

.header-container {
    height: 100vh;
    width: 100vw;
    background-color: rgb(87, 141, 187);
    background-image: url(./img/pokemon_left.png);
    background-repeat: no-repeat;
    background-position: 85%;
    background-size: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;
}

h2 {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.social-web {
    margin-top: 1rem;
    display: flex;
}

.social-web a {
    text-decoration: none;
    color: rgb(2, 2, 1);
    padding: 1rem 4rem;
    border: 1px solid #111111;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
}

a:hover {
    background-color: #f2c304;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}

.checkbox .trace {
    width: 50px;
    height: 3px;
    background-color: #111111;
    position: absolute;
    border-radius: 50px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
    width: 40px;
    top: 15px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
    width: 40px;
    top: 30px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
    width: 40px;
    top: 45px;
    transform: rotate(0);
}

#toggle {
    display: none;
}

.menu {
    position: absolute;
    top: 20px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px rgb(87, 141, 187);
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}

.menu-itens {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}

.menu-itens ul {
    list-style-type: none;
}

.menu-itens ul li a {
    margin: 10px 0;
    color: #030303;
    text-decoration: none;
    text-align: center;
    letter-spacing: 4px;
    font-size: 40px;
}

#toggle:checked + .checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    top:47px
}

#toggle:checked + .checkbox .trace:nth-child(2) {
    transform: translate(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    top: 48px;
}

#toggle:checked + .checkbox {
    background-color: white;
}

#toggle:checked ~ .menu {
    box-shadow: 0px 0px 0px 100vmax white;
    z-index: 1;
}

#toggle:checked ~ .menu-itens {
    visibility: visible;
    opacity: 1;
}

.container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3rem 0;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.card {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(87, 141, 187);
    color: #ffffff;
    background-repeat: no-repeat;
    cursor: pointer;
    

}

.card-text {
    width: 40%;
    letter-spacing: 2px;
    color: rgb(10, 4, 4)
}

.card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: black;
}

.card-wrapper ::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    border: 1px solid #ffff;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper h2 {
    font-size: 40px;
    letter-spacing: 2px;
    margin: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper p {
    font-size: 50;
    visibility: visible;
    opacity: 0;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.card:hover {
    filter: unset;
}

.card:hover > .card-wrapper::before {
    height: 200px;
    width: 200px;
    opacity: 1;
}

.card:hover > .card-wrapper p {
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: rgb(102, 166, 222);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: Impact;
    
}